Tasmota/
configs/
*.log
init_pio_tasmota/.pio/build/project.checksum
init_pio_tasmota/.pio/build/esp8266/.sconsign313.dblite
init_pio_tasmota/.pio/build/esp8266/firmware.bin
init_pio_tasmota/.pio/build/esp8266/firmware.elf
init_pio_tasmota/.pio/build/esp8266/idedata.json
init_pio_tasmota/.pio/build/esp8266/libFrameworkArduino.a
init_pio_tasmota/.pio/build/esp8266/libFrameworkArduinoVariant.a
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/abi.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/base64.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/cbuf.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/cont_util.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/cont.S.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_app_entry_noextra4k.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_eboot_command.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_features.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_flash_quirks.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_flash_utils.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_i2s.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_main.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_noniso.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_phy.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_postmortem.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_si2c.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_sigma_delta.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_spi_utils.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_timer.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_waveform_phase.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_waveform_pwm.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_wiring_analog.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_wiring_digital.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_wiring_pulse.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_wiring_pwm.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_wiring_shift.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/core_esp8266_wiring.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/crc32.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/Crypto.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/debug.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/Esp-frag.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/Esp-version.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/Esp.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/flash_hal.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/FS.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/FSnoop.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/FunctionalInterrupt.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/gdb_hooks.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/HardwareSerial.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/heap.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/IPAddress.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/libc_replacements.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/MD5Builder.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/Print.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/Schedule.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/sntp-lwip2.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/spiffs_api.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/sqrt32.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/StackThunk.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/Stream.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/StreamString.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/time.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/Tone.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/TypeConversion.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/uart.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/Updater.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/WMath.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/WString.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/libb64/cdecode.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/libb64/cencode.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/spiffs/spiffs_cache.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/spiffs/spiffs_check.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/spiffs/spiffs_gc.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/spiffs/spiffs_hydrogen.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/spiffs/spiffs_nucleus.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/umm_malloc/umm_info.c.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/umm_malloc/umm_integrity.c.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/umm_malloc/umm_local.c.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/umm_malloc/umm_malloc.cpp.o
init_pio_tasmota/.pio/build/esp8266/FrameworkArduino/umm_malloc/umm_poison.c.o
init_pio_tasmota/.pio/build/esp8266/ld/local.eagle.app.v6.common.ld
init_pio_tasmota/.pio/build/esp8266/src/main.cpp.o
init_pio_tasmota/.vscode/c_cpp_properties.json
